{% extends "base.html" %}
{% block content %}
<h3 class="mb-3">{{ post_type }}  ({{ posts.len }})</h3>
{% for post in posts %}
<article class="media content-section">
    <img class="rounded-circle account-imgSize"
        src="{{ url_for('static', filename='profilePictures/' + user.image_file) }}">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2"
                href="{{ url_for('users.user_post', username=user.username) }}">{{ user.username }}</a>
        </div>
        <h2><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="article-content">{{ post.content }}</p>
        <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
    </div>
</article>
{% endfor %}
{% endblock content %}