.content-section {
    background: #ecebeb;
    padding: 10px 20px;
    border: 1px solid #f5f5f5;
    border-radius: 3px;
    margin-bottom: 20px;
    margin-top: 10px;
  }

body {
    background-color: #fbfbfb;
    color: #1d0f0f;
    margin-top: 2rem;
}

.alert{
  margin-top: 10px;
}

.account-imgSize {
  height: 115px;
  width: 115px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}